body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Sometype Mono', monospace !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace !important;
}

html, body, #root, #root>div {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Share Tech Mono', monospace !important;
}

a, button {
  border-radius: 0 !important;
}